<div class="row no-gutters" id="footer">
    <div class="col-md"></div>
    <div class="col-md"><a href="{% url 'brochure:index' %}">Home</a></div>
    <div class="col-md"><a href="{% url 'brochure:about' %}">About</a></div>
    <div class="col-md"><a href="{% url 'icecream:index' %}">Flavors</a></div>
    <div class="col-md"><a href="{% url 'icecream:index' %}">Press</a></div>
    <div class="col-md"><a href="{% url 'icecream:index' %}">Contact</a></div>
    <div class="col-md"><a href="{% url 'icecream:index' %}">Careers</a></div>
    <div class="col-md"></div>
</div>