{% extends 'base.html' %}
{% block content %}
<h3>{{ icecream.flavor }}</h3>
<div id='detail-row' class="row no-gutters">
    <div id='detail-item' class="col">Ice Cream Base: <strong>{{ icecream.base }}</strong></div>
</div>
<div id='detail-row' class="row no-gutters">
    <div id='detail-item' class="col">Availability: <strong>{{ icecream.available }}</strong></div>
</div>
<div id='detail-row' class="row no-gutters">
    <div id='detail-item' class="col">Featured Flavor: <strong>{{ icecream.Featured }}</strong></div>
</div>
<div id='detail-row'class="row no-gutters">
    <div id='detail-item' class="col">Churned on: <strong>{{ icecream.date_churned }}</strong></div>
</div>
{% endblock content %}